@page
@using System.Security.AccessControl
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    

    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sample SSRS Report</h5>
                    @Html.Raw(Model.ReportValue)
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sample SSRS Report</h5>
                            @Html.Raw(Model.ReportValue)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sample SSRS Report</h5>
                            @Html.Raw(Model.ReportValue)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sample SSRS Report</h5>
                            @Html.Raw(Model.ReportValue)
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
